html,
body {
  background-color: #161718;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 1000px;
}
/* Jumbotron */

.jumbotron {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg") no-repeat center center;
  background-size: cover;
  background-color: transparent;
  height: 560px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.header,
.header a {
  color: #fff;
}

.header li {
  display: inline-block;
  margin-left: 13px;
  margin-top: 40px;
}

.header a {
  padding: 15px;
  font-weight: bold;
}

.header .btn-default {
  border: 0px;
  border-radius: 0;
  padding: 8px 30px;
  background-color: #ff003d;
}

.main {
  color: #fff;
}

.main h1 {
  padding-top: 60px;
}
/* Supporting */

.supporting-1,
.supporting-2,
.supporting-3,
.supporting-4 {
  padding: 70px 30px;
}

.supporting-2 {
  background-color: #000;
}

.supporting-4 {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 400px;
}

.supporting-4 h2 {
  margin-top: 80px;
}
/* Footer */

.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0 35px 0;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  color: #aaa;
  font-size: 13px;
  display: inline-block;
  padding: 5px 0;
}