.container {
  max-width: 928px;
}

h1,
h2,
p,
a {
  font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 20px;
}

h2 {
  color: #000;
  font-size: 2.3em;
  font-weight: 300;
  line-height: 1.25;
  margin: 1em 0;
}

h3 {
  color: #555;
  margin-bottom: 10px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

p {
  font-size: 26px;
  font-weight: 200;
}

a {
  font-size: 18px;
  font-weight: 200;
}
/* Main */

.main {
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/intro.jpg');
  background-size: cover;
  height: 550px;
  padding-top: 55px;
}

.main p {
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 40px;
}

.main .btn {
  background-color: rgba(238, 68, 95, 0.9);
  border-radius: 4px;
  color: #fff;
  padding: 8px 30px;
}

.main .btn:hover {
  background-color: rgba(238, 68, 95, 1);
  cursor: pointer;
  -webkit-box-shadow: box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transition-property: box-shadow;
  transition-duration: .5s;
}
/* Sections */

.section {
  padding-top: 50px;
}

.section-container {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dbdbdb;
}

.section .row {
  margin-right: -15px;
  margin-left: -15px;
}
/* Store */

.store {
  text-align: center;
  border-bottom: 0px;
  padding-bottom: 100px
}
/* Footer */

.footer {
  border-top: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  padding: 20px 0px 80px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  color: #999;
  font-weight: 600;
}

@media (max-width: 500px) {
  .col-md-6 img {
    padding: 50px;
    width: 100%;
  }
}