html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}
/* Header */

.header {
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 800px;
  text-align: center;
}

.header .container {
  position: relative;
  top: 200px;
}

.header h1 {
  color: #fff;
  font-size: 80px;
  line-height: 100px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase;
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}
/* Nav */

.nav {
  background: #000;
  height: 80px;
  width: 100%;
}

.nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
}

.nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}
/* Main */

.main .container {
  margin: 80px auto;
}

.main img {
  float: left;
  margin: 50px 80px 50px 0;
}
/* Jumbotron */

.jumbotron {
  color: #fff;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg');
  background-position: center center;
  background-size: cover;
  height: 600px;
  text-align: right;
}

.jumbotron .container {
  position: relative;
  top: 220px;
}
/* Footer */

.footer {
  background: #000;
}

.footer p {
  color: #fff;
  height: 80px;
  font-size: 14px;
  line-height: 80px;
  margin: 0;
}
/* Media Queries */

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }
  .main,
  .jumbotron {
    padding: 0 30px;
  }
  .main img {
    width: 100%;
  }
}